    .brandlogo {
        height: 60px;
    }

    .mynav {
        margin-left: auto;
        padding-right: 50px;
    }

    footer {
        padding: 10px 20px 10px 20px;
        background-color: #000000;
        color: white;
        letter-spacing: 3px;
      }

    .mybutton {
        letter-spacing: 5px;
        margin-right: 30px;
        padding-left: 30px;
        padding-right: 30px;

    }
    .mybox1 {
        padding: 20px 20px 20px 10px;
    }

    .mycont1 {
        padding-bottom: 50px;
        font-size:x-large;
        font-weight: 300;

    }

    .mybox3 {
        padding: 10px;
        background-color: #CE4B27;
        color: white;
    }

    .mybox5 {
        padding: 10px;
        background-color: #A32A2E;
        color: white;
    }

    .mybox4:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition-duration: 0.25s;
    }

    .mybox4 {
        background-color: #f5f5f5;
    }

    .mybox44:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition-duration: 0.25s;
    }

    .mybox44 {
        background-color: #f5f5f5;
    }

    .disabled {
        opacity: 0.6;
    }

    .know-more-payer {
        /* background-color: #90BC53; */
        /* color: white; */
        font-weight: 500;
    }

     .know-more-provider {
        /* background-color: #CE4B27; */
        /* color: white; */
        font-weight: 500;
    }

    .mybundlebox-provider {
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: #CE4B27;
        color: white;
    }

    .mybundlebox-payer {
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: #A32A2E;
        color: white;
    }

    .mycenter {
        text-align: center;
    }

    .mysmallfont {
        font-size: 80%;
    }

    .myhover:hover {
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        transition-duration: 0.15s;
        background-color: #f2f4f3;
    }

    .my-button-screentop {
        background-color: transparent;
        border: 0px;
        letter-spacing: 2px;
        font-weight: 500;
    }

    .my-button-screentop:hover {
        background-color:#f5f5f5; 
        font-weight: 700; 

    }
    .accordion {
        border: 5px;
    }

    .accordion-button {
        font-weight: 500;
    }